body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: #8a2be2;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form--new--tarefa {
    width: 300px;
    height: 120px;
    display: flex;
    flex-direction: column;
}
.table--kamban {
    margin-left: 30px;
}

table {
    border-collapse: collapse;
    width:  500px;
    height: 150px;
}
caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
}
th, td {
    border: 1px solid black;
    padding: 5px;
}
th {
    background-color: #66cc66;
}
td {
    background-color: #ededed;
    text-align: center;
}

